body {
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;
  font-family: Roboto;
  color: #000;
}

header {
  max-width: 768px;
  display: flex;
  flex-direction: column;
}
header nav {
  width: 100%;
  margin: auto;
}
header nav a {
  text-decoration: none;
}
header nav .ctn {
  width: 100%;
}
header nav .ctn--logo {
  padding: 20px;
}
header nav .ctn--logo .logo {
  display: block;
  background-image: url(../../images/ohmyfood.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 50%;
  margin: auto;
}
header nav .ctn--localisation {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 8px 4px -4px rgba(0, 0, 0, 0.4);
  background-color: #d1d1d1;
  width: 100%;
  height: 50px;
  margin: auto;
}
header nav .ctn--localisation div {
  display: flex;
  flex-direction: row;
  margin: auto;
}
header nav .ctn--localisation div i {
  padding: 10px;
}
header nav .ctn--localisation div p {
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(149deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 3rem;
  color: #fff;
  padding: 20px;
  border: none;
  margin-bottom: 40px;
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 2s ease;
}
.btn:hover {
  background: linear-gradient(149deg, #f8a9e2 0%, #c092f8 100%);
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.8);
}

main {
  max-width: 768px;
}
main .explorer {
  padding: 20px;
  background-color: #e6e6e6;
}
main .explorer h1 {
  padding: 20px 20px 10px 20px;
  font-size: 22px;
  text-align: center;
}
main .explorer p {
  text-align: center;
  padding: 10px 20px 30px 20px;
}
main .step {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  counter-reset: list;
}
main .step h1 {
  font-size: 20px;
  width: 85%;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
main .step ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-left: 2rem;
}
main .step li {
  position: relative;
  flex-grow: 1;
  list-style: none;
  background-color: #f7f7f7;
  border-radius: 3rem;
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 75%;
}
main .step li::before {
  position: absolute;
  content: counter(list);
  counter-increment: list;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -40px;
}
main .step .step-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f7;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3rem;
  font-weight: 500;
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.2);
}
main .step .step-background .number-step {
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  background-color: #9356DC;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: -20px;
}
main .step .step-background .number-step p {
  margin-left: 10px;
}
main .step .step-background i {
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
}
main .searchResult {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
  width: 100%;
  padding-bottom: 60px;
}
main .searchResult .titleSection {
  font-size: 20px;
  padding: 50px 20px 20px 20px;
  font-weight: bold;
}
main .searchResult .showResult {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  width: 90%;
}
main .searchResult .showResult a {
  text-decoration: none;
  color: inherit;
}
main .searchResult .showResult .resultRow {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.2);
}
main .searchResult .showResult .resultRow .new-restaurant {
  font-weight: bold;
  color: #265a37;
  padding: 10px;
  position: absolute;
  right: 30px;
  margin-top: 10px;
  background-color: #99E2D0;
  border-radius: 5px;
}
main .searchResult .showResult .resultRow .textContainer {
  padding: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .searchResult .showResult .resultRow .textContainer .resultName {
  font-weight: bold;
  padding: 5px;
}
main .searchResult .showResult .resultRow .textContainer .resultLoc {
  padding: 5px;
}
main .searchResult .showResult .resultRow .textContainer i {
  font-size: 20px;
  padding: 0px 10px 0px 0px;
}
main .searchResult .showResult .resultRow img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

main {
  max-width: 768px;
}
main img {
  width: 100%;
  object-fit: cover;
}
main .ctn-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -50px;
  border-radius: 3rem 3rem 0 0;
  background-color: #F2F2F2;
  position: relative;
}
main .ctn-menu .title-restau {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
main .ctn-menu .title-restau h1 {
  font-family: Shrikhand;
  font-size: 30px;
}
main .ctn-menu .title-restau i {
  font-size: 30px;
  margin-right: 10px;
}
main .ctn-menu .category {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
main .ctn-menu .category--title {
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
}
main .ctn-menu .category--title:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 5%;
  padding: 10px;
  border-bottom: 3px solid #99E2D0;
}
main .ctn-menu .category .food {
  background-color: #fff;
  border-radius: 1rem;
  padding: 10px;
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
main .ctn-menu .category .food:hover {
  padding-right: 55px;
}
main .ctn-menu .category .food:hover .food--selected {
  opacity: 1;
  transform: translate(-50px);
}
main .ctn-menu .category .food:hover .fa-check-circle {
  transform: rotate(360deg);
}
main .ctn-menu .category .food--bold {
  font-size: 17px;
  font-weight: 500;
}
main .ctn-menu .category .food--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .ctn-menu .category .food--row span {
  margin-top: 5px;
}
main .ctn-menu .category .food p {
  padding: 5px 0 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .ctn-menu .category .food--selected {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99E2D0;
  width: 50px;
  height: 74px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
main .ctn-menu .category .food--selected .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}
@keyframes fadein {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
main .ctn-menu .first-plate {
  animation: fadein 1s ease-in-out;
}
main .ctn-menu .second-plate {
  animation: fadein 1.5s ease-in-out;
}
main .ctn-menu .third-plate {
  animation: fadein 2s ease-in-out;
}

footer {
  max-width: 768px;
  background-color: rgb(61, 61, 61);
  padding: 20px;
  color: #fff;
}
footer .logo-footer {
  background-image: url(../../images/ohmyfood@2x.svg);
  filter: invert(1);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  margin: 10px 0px 10px 5px;
}
footer p {
  font-size: 15px;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
