@use '../utils/variables';
@use '../utils/mixins';
@use '../utils/keyframes';

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    pointer-events: none;
    animation: loading 1s ease-in-out 3s forwards;
    &--logo {
        background-image: variables.$logo;
        background-repeat: no-repeat;
        background-size: contain;
        height: 35px;
        width: 201px;
    }
    &--spinner {
        color: variables.$color-tertiary;
        font-size: 20px;
        text-align: center;
        height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        transition-timing-function: linear;
        transition: 2s linear;
        animation: rotate-spinner 4s infinite linear;
    }
}
main {
    .explorer {
        padding: 20px;
        background-color: #e6e6e6;
        h1 {
            padding: 20px 20px 10px 20px;
            font-size: 22px;
            text-align: center;
        }
        p {
            text-align: center;
            padding: 10px 20px 30px 20px;
        }
    }
    .step {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        counter-reset: list;
        h1 {
            font-size: 20px;
            width: 85%;
            padding: 20px;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        ol {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            gap: 30px;
            margin-left: 2rem;
        }
            li {
                position: relative;
                flex-grow: 1;
                list-style: none;
                background-color: #f7f7f7;
                border-radius: 3rem;
                @include mixins.box-shadow(variables.$shadow);
                padding: 30px;
                transition: 1s;
                &:hover {
                    background-color: variables.$color-primary-lighter;
                    transition: 1s;
                }
                &::before {
                    position: absolute;
                    content: counter(list);
                    counter-increment: list;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    color: variables.$color-white;
                    background-color: variables.$color-primary;
                    border-radius: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-left: -40px;
                }
        }
        .step-background {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #f7f7f7;
            width: 80%;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 3rem;
            font-weight: 500;
            @include mixins.box-shadow(variables.$shadow);
            .number-step {
                display: flex;
                align-items: center;
                position: absolute;
                color: variables.$color-white;
                background-color: variables.$color-primary;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-left: -20px;
                p {
                    margin-left: 10px;
                }
            }
            i {
                margin-top: auto;
                margin-bottom: auto;
                padding: 20px;
            }
        }
    } 
    .searchResult {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: variables.$color-background-container;
        width: 100%;
        padding-bottom: 60px;
        .titleSection {
            font-size: 20px;
            padding: 50px 20px 20px 20px;
            font-weight: bold;
    }
        .showResult {
            display: flex;
            flex-direction: column;
            margin: auto;
            gap: 10px;
            width: 90%;
            a {
                text-decoration: none;
                color: inherit;
            }
            .resultRow {
                position: relative;
                width: 100%;
                background-color: variables.$color-white;
                border-radius: 10px;
                @include mixins.box-shadow(variables.$shadow);
                .new-restaurant {
                    font-weight: bold;
                    color: variables.$color-new;
                    padding: 10px;
                    position: absolute;
                    right: 10px;
                    margin-top: 10px;
                    background-color: variables.$color-tertiary;
                    border-radius: 5px;
                }
                .textContainer {
                    padding: 10px;
                    font-size: 18px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .resultName {
                        font-weight: bold;
                        padding: 5px;
                    }
                    .resultLoc {
                        padding: 5px;
                    }
                    i {
                        font-size: 20px;
                        padding: 0px 10px 0px 0px;
                    }
                    .fill {
                        @include mixins.like-animation(variables.$color-primary);
                    }
                }
                img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 10px 10px 0px 0px;
                }
            }
        }
    }
}

@include mixins.tablet;
@include mixins.desktop;