@use '../utils/variables';
@use '../utils/mixins';
@use '../utils/keyframes';

main {
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .ctn-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -50px;
        border-radius: 3rem 3rem 0 0;
        background-color: variables.$color-background-container;
        position: relative;
        .title-restau {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
            h1 {
                font-family: variables.$titlefont;
                font-size: 30px;
            }
            i {
                font-size: 30px;
                margin-right: 10px;
            }
            .fill {
                @include mixins.like-animation(variables.$color-primary);
            }
        }
        &--category {
            .category {
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 10px;
                &--title {
                    font-weight: 300;
                    text-transform: uppercase;
                    padding: 5px 0 5px 0;
                }
                &--title:before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 5%;
                    padding: 10px;
                    border-bottom: 3px solid variables.$color-tertiary;
                }
                .food {
                    background-color: variables.$color-white;
                    border-radius: 1rem;
                    padding: 10px;
                    @include mixins.box-shadow(variables.$shadow);
                    position: relative;
                    overflow: hidden;
                    transition: padding-right 450ms ease-in-out;
                    &:hover {
                        padding-right: 55px;
                    }
                    &:hover .food--selected {
                        opacity: 1;
                        transform: translate(-50px);
                    }
                    &:hover .fa-check-circle {
                        transform: rotate(360deg) ;
                    }
                    &--bold {
                        font-size: 17px;
                        font-weight: 500;
                    }
                    &--row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        span {
                            margin-top: 5px;
                        }
                    }
                    p {
                        padding: 5px 0 5px 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    &--selected {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        background-color: variables.$color-tertiary;
                        width: 50px;
                        height: 74px;
                        right: -50px;
                        top: 0;
                        opacity: 0;
                        transition: transform 330ms ease-in-out;
                        & .fa-check-circle {
                            color: #fff;
                            transition: transform 500ms ease-in-out;
                        }
                    }
                }
            }
        }
        
        .first-plate {
            animation: fadein 1s ease-in-out;
        }
        .second-plate {
            animation: fadein 1.5s ease-in-out;
        }
        .third-plate {
            animation: fadein 2s ease-in-out;
        }
        .fourth-plate{
            animation: fadein 2.5s ease-in-out;
        }
    }
}

@include mixins.tablet;
@include mixins.desktop;