@use '../utils/variables';
@use '../utils/mixins';

main {
    max-width: variables.$mobile;
    img {
        width: 100%;
        object-fit: cover;
    }
    .ctn-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -50px;
        border-radius: 3rem 3rem 0 0;
        background-color: variables.$color-background-container;
        position: relative;
        .title-restau {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
            h1 {
                font-family: variables.$titlefont;
                font-size: 30px;
            }
            i {
                font-size: 30px;
                margin-right: 10px;
            }
        }
        .category {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            &--title {
                font-weight: 300;
                text-transform: uppercase;
                padding: 5px 0 5px 0;
            }
            &--title:before {
                content: "";
                position: absolute;
                height: 1px;
                width: 5%;
                padding: 10px;
                border-bottom: 3px solid variables.$color-tertiary;
            }
            .food {
                background-color: variables.$color-white;
                border-radius: 1rem;
                padding: 10px;
                @include mixins.box-shadow(variables.$shadow);
                &--bold {
                    font-size: 17px;
                    font-weight: 500;
                }
                &--row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                p {
                    padding: 5px 0 5px 0;
                }
            }
        }
    }
}