@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rotate-spinner {
    from {
    }
    to {
        transform: rotate(1080deg);
    }
}
@keyframes fadein {
    from {
        transform: translateX(-10px);
        opacity:0;
    }
    to {
        transform: translateX(0px);
        opacity:1;
    }
}