@use 'variables';

@mixin box-shadow($shadow) {      
    box-shadow: $shadow;
}

@mixin like-animation($color-primary) {
    position: relative;
    cursor: pointer;
    .fill {
        position: absolute;
        bottom: 0;
        font-size: 0px;
        opacity: 0;
        color: variables.$color-primary;
        font-weight: bold;
    }
    &:hover {
        .fill {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            opacity: 1;
            transition: 1.5s;
        }
    }
}

// Media queries

@mixin tablet {
    @media screen and (min-width: 768px){
        main {
            margin: auto;
            .searchResult {
                .showResult {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .resultRow {
                        width: 45%;
                    }
                }
            }
        }
    }
}

@mixin desktop {
    @media screen and (min-width: 992px){
        main {
            margin: auto;
            .step {
                max-width: variables.$desktop;
                margin: auto;
                ol {
                    flex-direction: row;
                    width: 95%;
                }
            }
            .searchResult {
                .titleSection {
                    max-width: variables.$desktop;
                    width: 100%;
                    margin: auto;
                }
                .showResult {
                    max-width: variables.$desktop;
                    margin: auto;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .resultRow {
                        width: 45%;
                    }
                }
            }
            .ctn-menu {
                max-width: variables.$desktop;
                margin-left: auto;
                margin-right: auto;
                &--category {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: auto;
                    .category {
                        width: 29%;
                    }
                }
            }
        }
        footer {
            margin: auto;
        }
    }
}